.feedContainer {
    background-color: darksalmon;
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 30px);
    height: auto;
    min-height: calc(100% - 53px);
    padding: 30px 15px 20px 15px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.emptyFeedContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postContainer {
    display: grid;
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-template-rows: 10px auto 10px repeat(5, auto) repeat(3, auto) 10px;
    grid-row-gap: 5px;
    grid-template-areas:    ". . . . . . . ." 
                            ". deleteButton . . . . topButton ."
                            ". . . . . . . ."
                            ". img img img img img img ."
                            ". img img img img img img ."
                            ". img img img img img img ."
                            ". img img img img img img ."
                            ". img img img img img img ."
                            ". title title title title title title ."
                            ". info info info info info info ."
                            ". info info info info info info ."
                            ". . . . . . . .";
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
    background-color: var(--backgroundWhite);
    /* width: 350px;
    margin: 0 0 20px; */
    /* margin: 0 0 20px 20px; */
    /* width: 350px; */
    flex: 1;
    justify-self: center;
    align-self: start;
}

.postTopButton {
    font-size: 24px;
    text-align: center;
    width: 24px;
    border-radius: 50%;
    padding: 5px;
}

.postTopButton:hover {
    background-color: lightcoral;
}

.fa-check, .fa-bookmark-o {
    justify-self: end;
    grid-area: topButton;
}

.fa-trash-o {
    justify-self: start;
    grid-area: deleteButton;
}

.postImage {
    grid-area: img;
    width: 100%;
    background-color: lightseagreen;
    /*para pruebas, borrar despues*/
}

.postTitle {
    grid-area: title;
    justify-self: center;
    align-self: end;
    margin: 0;
    padding: 0;
    border: 0;
}

.postDescription {
    grid-area: info;
    justify-self: center;
    text-align: center;
    font-size: 16px;
}