#userProfile{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 70%;
    background-color: var(--backgroundWhite);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
    /* padding: 10px; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.userProfileTop {
    width: 100%;
    height: 30%;
    background-color: chartreuse;
    overflow: hidden;
}

.cover{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

#userProfile .userPictureContainer {
    position: absolute;
    top: 5%;
    left: 35%;
    /* transform: translate(-50%); */
}

.userProfileBottom p {
    margin: 10px;
}

.avatar128px{
    height: 145px;
    margin: 10px;
}

.userProfileBottom {
    margin: 20px 10px 10px;
}