.profileInfoInput-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    border: 0px 0px;
    background-color: var(--goldenGrass);
}

.profileInfoInput-screen{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 86%;
    height: 93%;
    background-color: var(--backgroundWhite);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
    padding: 15px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileInfoInput-screen input, .profileInfoInput-screen textarea {
    text-transform: capitalize;
    width: 50%;
}

@media only screen and (min-width: 769px) {
    .signInsignUpWindow, .profileInfoInput-screen{
        width: 60%;
        height: 85%;
        flex-direction: row;
    }
}
