@import "reset.css";
@import "welcomeScreen.css";
@import "profileScreen.css";
@import "profileInfo.css";

:root {
    /*Background colors*/
    --gullGray: #93b0b6;
    --roseBud: #f7aaad;
    --goldenGrass: #dcaf25;
    --backgroundWhite: #ffffff;
    /* Text colors */
    --darkText: #000000;
    --lightText: #ffffff;
    /* Highlights */
    --elephant: #14444b;
    --flamingo: #ee5334;
    --bayOfMany: #24367b;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--darkText);
}

.loader {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #002F4D;
        display: flex; 
    justify-content: center;
    align-items: center;   
    /*display: none; /*TODO: borrar*/ 
}

.loaderIMG {
    width: 50%;
}

h1, h2, h3, h4 {
    margin: 15px 15px;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

.largeText {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.normalText {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.smallText {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.largeTextBold {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.normalTextBold {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.smallTextBold {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}


/*Assets*/

button {
    margin: 8px; /*cambio para mobile*/
    padding: 5px 35px; /* Cambio de padding en mobile*/
    border-radius: 20px; /*DRY*/
    border: 2.5px solid;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all .6s ease;
}

button.flamingo {
    border-color: var(--flamingo);
    background: linear-gradient(to right, transparent 50%, var(--flamingo) 50%);
    background-size: 201% 100%;
    background-position: left bottom;
}

button.bayOfMany {
    border-color: var(--bayOfMany);
    background: linear-gradient(to right, transparent 50%, var(--bayOfMany) 50%);
    background-size: 201% 100%;
    background-position: left bottom;
}

button.elephant {
    border-color: var(--elephant);
    background: linear-gradient(to right, transparent 50%, var(--elephant) 50%);
    background-size: 201% 100%;
    background-position: left bottom;
}

button:focus,
button:hover {
    background-position: right bottom;
    color: var(--lightText);
}

button.ghost {
    background-color: transparent;
    border-color: var(--lightText);
    color: var(--bayOfMany);
}

button.ghost:active {
    transition: transform 80ms ease-in;
    transform: scale(0.95);
}

/*Responsive*/

@media only screen and (min-width: 600px) {
    /* For tablets: */
}

@media only screen and (min-width: 769px) {
    /*768?*/
    /* For desktop: */
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 34px;
    }
    h4 {
        font-size: 28px;
    }
    .largeText {
        font-size: 28px;
    }
    .normalText {
        font-size: 22px;
    }
    .smallText {
        font-size: 18px;
    }

    button {
        margin: 10px;
        padding: 10px 35px;
    }

    .loaderIMG {
        width: 15%;
    }
}